/* code here  */
/* App.css */

.App {
  text-align: center;
  margin-top: 50px;
}

.redColor {
  color: red;
  font-size: 30px;
  font-style: normal;
}

.blueColor {
  color: blue;
  font-size: 30px;
  font-style: italic;
}
